/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

    * {
      margin: 0;
      padding: 0;
  }

  img {
    width: 100%;
  }

  figure #logo {
    width: 30%;
    margin: auto;
display: flex;
  }
#desk {
  display: none;
}

.office img {
  display: none;
}



.logo {
  margin: auto;
width: 100%;

}

.deroulant{
  margin-top: 4%;
width: 20%;
margin-left: 3%;
}

#quote {
  font-size: 26px;
  font-style: italic;
  text-align: center;
  border-top: 3px solid orange;
  border-bottom: 3px solid orange;
  margin: 8% 12% 8% 12%;
  padding: 3% 0;
}
  #menu-deroulant, #menu-deroulant ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  #menu-deroulant {
  /* on centre le menu dans la page */
      text-align: left;
  }
  #menu-deroulant li {
  /* on place les liens du menu horizontalement */
      display: inline-block;
  }
  #menu-deroulant ul li {
  /* on enlève ce comportement pour les liens du sous menu */
      display: inherit;
  }
  #menu-deroulant a {
      text-decoration: none;
      display: block;
  	color:white;
    background-color: #F69441;
    padding: .6em;
    border-radius: 10px;
  }
  #menu-deroulant ul {
      position: absolute;
  /* on cache les sous menus complètement sur la gauche */
      left: -999em;
      text-align: left;
      z-index: 1000;
  }
  #menu-deroulant li:hover ul {
  /* Au survol des li du menu on replace les sous menus */
      left: auto;
  }

  #menu-deroulant .white a {
    background-color: white;
    border: 2px solid #F69441;
    color: black;
    text-align: center;
    padding: 10px 0px;
margin: 0.8px 19px;
  }

#menu-deroulant .white a:hover {
  background-color: #F69441;
  color: white;
}

  .projet article p {
    display: none;
  }

  article {
    width: 65%;
  }

  h3 {
    color: #F69441;
    text-align: center;
  }

  .projet {
    display: flex;
    margin-top: 20%;
    align-items: center;
    flex-direction: column;
  }

  .projet figure {
    width: 80%;
  }

  figcaption {
    text-align: center;
    margin-top: 3%;
  }

  /*-----PAGE PRESTATION------*/

  section p {

    text-align: center;
    margin-top: 4%;
    font-size: 42px;
    background-color: #FBB03B;
    color: white;
    font-weight: bold;
  }

  em {
    font-size: 16px;
    font-weight: 400;
  }

  #presta h2, #presta h4 {
    margin-left: 4%;
    margin-bottom: 3%;
  }

  #presta #para {
    font-size: 1em;
    margin: 4%;
    background-color: white;
    color: black;
    text-align: left;
    font-weight: 200;
  }

  #presta a {
    text-decoration: none;
    font-size: 15px;
  }

  #presta a #pub {
  margin: 6%;
  font-size: 15px;
  padding: 18%;
  font-weight: 200;
  }

  #presta a #pub:hover {
    background-color: #E9E9E9;
    color: #FBB03B;
    font-weight: bolder;
  }

@media (min-width: 768px){

  #menu-deroulant {
    display: none;
  }

  header {
    display: block;
  }

  #desk {
    width: 100%;
  display: flex;

  }

  #desk ul {
    display: flex;
    width: 74%;
    list-style-type: none;
    margin: auto;
    justify-content: space-between;
    border-bottom: 3px solid #F69441;
  padding-bottom: 15px;
  }

  #desk ul li {
    width: 15%;
    display: flex;
  flex-direction: column;
  }

  #desk ul li a {
    text-decoration: none;
    display: flex;
  justify-content: center;
  color: #818682;
  margin-bottom: 2px;
  }

  #desk ul li a:hover {
    border: 2px solid #F69441;
    border-radius: 5px;
  }

  .material-icons {
    display: none;
  }

  .office{
    margin: 0;
    padding: 0;
  }

  .office img {
    display: block;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  article {
    width: 33%;
  }

  h3 {
    color: #F69441;
    text-align: center;
  }

  .projet {
    display: flex;
    margin-top: 3%;
    justify-content: space-around;
    flex-direction: row;
  }

  .projet figure {
    width: 80%;
  }

  figcaption {
    display: none;
  }

  p {
    display: block;
  }

  section #crayon {
    margin: auto;
width: 40%;
  }

  #presta h2 {
    margin-top: 3%;
  }

  #presta a #pub {
    margin: 20% 12%;
  }
    }

@media (min-width: 980px) {


   header {
     display: flex;
   }


nav {
  width: 100%;
display: flex;

}

nav ul {
  display: flex;
  width: 74%;
  list-style-type: none;
  margin: auto;
  justify-content: space-between;
  border-bottom: 3px solid #F69441;
padding-bottom: 15px;
}

nav ul li {
  width: 15%;
  display: flex;
flex-direction: column;
}

nav ul li a {
  text-decoration: none;
  display: flex;
justify-content: center;
color: #818682;
margin-bottom: 2px;
}

.material-icons {
  display: flex;
justify-content: center;
margin-top: 2%;
color: #FBB03B;
}

.office{
  margin: 0;
  padding: 0;
}

.office img {
  display: block;
  background-size: cover;
  width: 100%;
  margin: 0;
  padding: 0;
}




article {
  width: 33%;
}

h3 {
  color: #F69441;
  text-align: center;
}

.projet {
  display: flex;
  margin-top: 3%;
  justify-content: space-around;
}

.projet figure {
  width: 80%;
}

figcaption {
  text-align: center;
  margin-top: 3%;
}

.projet figure:hover {
  width: 88%;
}
#topresta{
  display: flex;
}
#topresta p {
  display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

section #crayon {
  width: 30%;
}

#presta {
  width: 80%;
}

#presta #para {
  width: 60%;
text-align: justify;
}

#presta a #pub {
  margin: 5% 3%;
  padding: 6%;
}

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
